<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src="https://fb.me/react-15.1.0.js"></script>
  <script src="https://fb.me/react-dom-15.1.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://npmcdn.com/react-router@2.4.0/umd/ReactRouter.min.js"></script>

 
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAPS_API_KEY"] %>">
    </script>
    <script type="text/javascript">
      function initialize() {
        var myLatLng = { lat: 40.679787, lng: -73.963881};

        var mapOptions = {
          center: myLatLng,
          zoom: 16
        };

        var map = new google.maps.Map(document.getElementById('map_canvas'),
            mapOptions);

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Norton Records</h1>'+
            '<div id="bodyContent">'+
            '<p><b>Norton Records</b>, where the loud sound abounds! ' +
            'The Norton label is home to the frantic sounds of Hasil Adkins, Link Wray and many more, located near Downtown brooklyn, with many accessible trains.'+
            '<p><a href="https://www.nortonrecords.com">'+
            'Norton Records</a>'+
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Norton Records'
        });
        marker.addListener('mouseover', function() {
          infowindow.open(map, marker);
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>


  </head>

  <body>

	  <%= yield %>
   
     
  <%= render "layouts/media" %>
  <%= render "layouts/footer" %>

  </body>
</html>
